<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shenma.yueba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.aebiz.sdmail.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- ###################声明SDK使用的相关权限###################### -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取用户手机的IMEI, 用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用程序联网, 以便向我们的服务器端发送数据。 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于评论模块分享位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.aebiz.sdmail.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.aebiz.sdmail.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- renren sso Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.shenma.yueba.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.shenma.yueba.baijia.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 友盟AppKey， 需要替换成你自己的 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="555321fae0f55ae751002b84" >
        </meta-data>
        <!-- 4eaee02c527015373b000003 -->
        <!-- android:value="52a98cf856240b902211203e" > -->


        <!-- *************************    分享相关的注册 START **************************** -->
        <!-- 分享内容编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- 腾讯SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.shenma.yueba.yangjia.activity.MainActivityForYangJia"
            android:screenOrientation="portrait" />
         <activity
            android:name="com.shenma.yueba.yangjia.activity.BoradRewardActivity"
            android:screenOrientation="portrait" />
          <activity
            android:name="com.shenma.yueba.yangjia.activity.OpenRewardActivity"
            android:screenOrientation="portrait" />
           <activity
            android:name="com.shenma.yueba.yangjia.activity.OrderRewardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shenma.yueba.baijia.activity.BuyerCertificationActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shenma.yueba.baijia.activity.BuyerCertificationActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shenma.yueba.baijia.activity.ApplyResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shenma.yueba.baijia.activity.CircleInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shenma.yueba.baijia.activity.SwipeListViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.baijia.activity.WebActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.view.imageshow.ImageShowActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.baijia.activity.MainActivityForBaiJia"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.baijia.activity.FillPersonDataActivity"
            android:screenOrientation="portrait" >
        </activity>
          <!-- 找回密码 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.FindPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
          <!-- 登录注册 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.LoginAndRegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
          <!-- 设置新密码 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.SetNewPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
           <!-- 收益管理 -->
        <activity
            android:name="com.shenma.yueba.yangjia.activity.EarningManagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 货款收支 -->
        <activity
            android:name="com.shenma.yueba.yangjia.activity.HuoKuanIncomingAndOutgoingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.yangjia.activity.HuoKuanManagerActivity2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.yangjia.activity.SalesManagerForSupperManActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.yangjia.activity.KaiXiaoPiaoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.yangjia.activity.CircleInvitectivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.yangjia.activity.ProductManagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.yangjia.activity.BuyerIndentificationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.yangjia.activity.IdentificationBuyerListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.yangjia.activity.SalesManagerForBuyerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.baijia.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.shenma.yueba.baijia.activity.CityListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shenma.yueba.yangjia.activity.PublishProductsActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 败家订单列表页面 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.BaiJiaOrderListActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 败家订单确认页面 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.AffirmOrderActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 败家订单详细页面 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.BaiJiaOrderDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 邀请好友 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.InvitationFriendActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 修改圈子名称 -->
        <activity
            android:name="com.shenma.yueba.yangjia.activity.ModifyCircleNameActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 重置密码 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.ResetPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 用户中心 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.UserConfigActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 买手主页 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.ShopMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 圈子 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.CircleListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的收藏 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.MyCollectionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 认证买手详情 -->
        <activity
            android:name="com.shenma.yueba.baijia.activity.ApproveBuyerDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 聊天界面 -->
        <activity
            android:name="com.shenma.yueba.ChatActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 店铺介绍界面 -->
        <activity
            android:name="com.shenma.yueba.yangjia.activity.StoreIntroduceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 社交界面 -->
        <activity
            android:name="com.shenma.yueba.yangjia.activity.SocialManagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 订单详情 -->
        <activity
            android:name="com.shenma.yueba.yangjia.activity.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 订单详情 -->
        <activity
            android:name="com.shenma.yueba.yangjia.activity.PublishProductForRenZhenActivity"
            android:screenOrientation="portrait" />
        <!-- 收入明细 -->
        <activity
            android:name="com.shenma.yueba.yangjia.activity.IncomeDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 提现历史 -->
        <activity
            android:name="com.shenma.yueba.yangjia.activity.WithdrawHistoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 添加圈子 -->
        <activity
            android:name="com.shenma.yueba.yangjia.activity.AddCircleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 申请提现 -->
        <activity
            android:name="com.shenma.yueba.yangjia.activity.ApplyWithdrawActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 自定义相机 -->
        <activity
            android:name="com.shenma.yueba.camera.CameraAty"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 自定义相机 -->
        <activity
            android:name="com.shenma.yueba.camera.AlbumAty"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 自定义相机 -->
        <activity
            android:name="com.shenma.yueba.camera.AlbumItemAty"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 网络状态变化的广播 -->
        <receiver
            android:name="com.shenma.yueba.receiver.ConnectionChangeReceiver"
            android:label="NetworkConnection" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 闹钟的自定义广播 -->
        <receiver android:name="com.shenma.yueba.receiver.MyAlertReciver" >
            <intent-filter>
                <action android:name="HeartSocket" />
            </intent-filter>
        </receiver>
        <!-- 系统启动的广播 -->
        <receiver android:name="com.shenma.yueba.receiver.BootReceiver" >
            <intent-filter>

                <!-- 开机广播 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- 解锁广播 -->
        <receiver android:name="com.shenma.yueba.receiver.UnLockReceiver" >
            <intent-filter>

                <!-- 解锁广播 -->
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- 锁屏事件的广播 -->
        <receiver android:name="com.shenma.yueba.receiver.LockScreenReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>